{% extends 'base.html' %}
{% block title_block %}Main{% endblock %}
{% block content_block %}
<div>
    <h1>Issues list</h1>
    <table>
        <thead>
        <tr>
            <td>Title</td>
            <td>Created</td>
            <td>Submitter</td>
            <td>Solver</td>

            <td>Status</td>
            <td>Category</td>
        </tr>
        </thead>
        <tbody>
        {% for ticket in object_list %}
        <tr>
            
            <td><a href="{% url 'detail' ticket.pk %}">{{ ticket.title }} <span> </span></a></td>
            <td>{{ ticket.created|date }} </td>
            <td>{{ ticket.sumbitter }} </td>
            <td>{{ ticket.solver }} </td>
            <td>{{ ticket.closed|yesno:"CLOSED, OPENED" }} </td>
            <td>{{ ticket.category.name }} </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan=4>No tickets yet. </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

